/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/qc/nanoplot/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,txt}'
        ]
    }

    withName: AUTOCYCLER_SUBSAMPLE {
        ext.args      = "--min_read_depth ${params.min_read_depth}"
        errorStrategy = 'ignore'
    }

    withName: AUTOCYCLER_GENOMESIZE {
        errorStrategy = 'ignore'
    }

    withName: 'AUTOCYCLER_METAMDBGFILTER' {
        ext.prefix = { "${meta.id}_metamdbg" }
    }

    withName: AUTOCYCLER_MINIASM {
        ext.prefix = { "${meta.id}.miniasm" }
    }

    withName: PLASSEMBLER_LONG {
        ext.singularity_pull_docker_container = false
        errorStrategy = 'ignore'
    }

    withName: COLLECT_ASSEMBLIES {
        publishDir = [ enabled: false ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
    }

    withName: 'SAMTOOLS_ADDREPLACERG' {
        ext.prefix = { "${meta.id}.rg" }
    }

    withName: 'AUTOCYCLER_COMBINE' {
        publishDir = [
            [
                path: { "${params.outdir}/autocycler" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
            [
                path: { "${params.outdir}/autocycler_stats" },
                mode: params.publish_dir_mode,
                pattern: '**/*.yaml',
                saveAs: { filename -> "${meta.id}_consensus_assembly.yaml" }
            ]
        ]
    }
}
