process {
    executor = 'slurm'

    // Default for ALL processes: run on the node where the user launched the pipeline
    clusterOptions = "--nodelist=${System.getenv('HOSTNAME')?.split('\\.')[0]} --partition=mrsn --begin=now+30"
    
    // Override ONLY for GPU jobs
    withLabel:process_gpu {
        clusterOptions   = '--nodelist=mrsngpu01 --partition=mrsn --gres=gpu:l4:1'
        containerOptions = '--nv'
        ext.use_gpu      = true
    }
}